
@model List<Product>

@section Footer{
    <div>there is a footer area</div>
}
            @foreach(Product item in Model){
                    <partial name="_ProductCard" model="@item"></partial>
                } 
