@model IQueryable<Product>

@section Footer {
    <div>there is a footer area</div>
}

<div class="row my-3">
@foreach (Product item in Model)
{
    <partial name="_ProductCard" model="@item"></partial>
}
</div>